<p><code>JavaScriptComponent</code> - это простой компонент пользовательского интерфейса, который представляет собой
    универсальную обёртку для использования любой готовой библиотеки JavaScript в приложении на базе Jmix напрямую, без
    необходимости подключать компонент Vaadin.</p>

<p>В этом примере мы используем <a href="http://ericjgagnon.github.io/wickedpicker/">Wickedpicker</a> - простой jQuery
    плагин выбора времени.</p>

<p><code>jsComponent</code> имеет следующие зависимости:</p>
<ul>
    <li>jQuerry, подключаемый из WebJar ресурса.</li>
    <li>файлы плагина и коннектора, расположенные в директории <code>web/VAADIN/timepicker</code> модуля
        <strong>web</strong>.
    </li>
    <li>Файлы шрифта, необходимые для <strong>Wickedpicker</strong> и расположенные в директории
        <code>web/VAADIN/fonts</code> модуля <strong>web</strong>.
    </li>
</ul>