<p><code>JavaScriptComponent</code> is a simple UI component that can work with any JavaScript wrapper without Vaadin
    component implementation. Thus, you can easily integrate any pure JavaScript component in your CUBA-based
    application.</p>

<p>In this sample we use <a href="http://ericjgagnon.github.io/wickedpicker/">Wickedpicker</a> - a simple jQuery
    timepicker plugin.</p>

<p><code>jsComponent</code> has the following dependencies:</p>
<ul>
    <li>jQuerry obtained from the WebJar resource.</li>
    <li>Plugin files and the connector are placed in the <code>web/VAADIN/timepicker</code>
        directory of the <strong>web</strong> module.
    </li>
    <li>Font files required for <strong>Wickedpicker</strong> are placed in the <code>web/VAADIN/fonts</code> directory
        of the <strong>web</strong> module.
    </li>
</ul>