<p>Параметром <code>TextChangeEventMode</code> задаётся режим передачи изменений на сервер для вызова события на
    серверной стороне. В платформе реализовано 4 режима передачи:</p>
<ul>
    <li>
        <p><code>EAGER</code> - событие вызывается незамедлительно после каждого изменения текста, то есть после каждого
            нажатия клавиш. Запросы отправляются по отдельности и обрабатываются последовательно один за другим. Тем не
            менее, асинхронная передача событий изменения на сервер позволяет не блокировать дальнейший ввод текста.
    </li>
    <li>
        <p><code>LAZY</code> (по умолчанию) - событие вызывается во время паузы в наборе текста. Продолжительность паузы
            можно задать с помощью метода <code>setTextChangeTimeout()</code>. Событие изменения текста обрабатывается
            принудительно перед возможным событием <code>ValueChangeEvent</code>, даже если пользователь не выдержал
            паузу в наборе текста.</p>
    </li>
    <li>
        <p><code>BLUR</code> - событие вызывается, когда текстовое поле теряет фокус.
    </li>
    <li>
        <p><code>TIMEOUT</code> - событие вызывается после периода ожидания. В случае ввода нескольких изменений за один
            период, на сервер отсылается событие со всеми изменениями, включая последнее. Продолжительность периода
            ожидания можно задать с помощью метода <code>setTextChangeTimeout()</code>.
    </li>
</ul>