<p>Поле для редактирования текста может использоваться как для работы с атрибутами сущностей, так и для ввода и
    отображения произвольной текстовой информации.</p>

<p>Если текстовое поле связано с атрибутом сущности (через <code>dataContainer</code> и <code>property</code>), и если для
    атрибута сущности в JPA-аннотации <code>@Column</code> указан параметр <code>length</code>, то <code>TextField</code>
    будет соответственно ограничивать максимальную длину вводимого текста.</p>

<p>Если текстовое поле не связано с атрибутом, либо для него не определено значение <code>length</code>, либо это
    значение нужно переопределить, то для ограничения максимальной длины вводимого текста можно использовать атрибут
    <code>maxLength</code>. Значение "-1" означает отсутствие ограничения.</p>