<p>The list of <code>CheckBoxGroup</code> options can be specified using <code>setOptionsList()</code> and
    <code>setOptionsMap()</code> methods.</p>
<ul>
    <li>
        <p>If you use <code>setOptionsList()</code> method, the component will display results of
            <code>toString()</code> transformation of each option value.</p>
    </li>
    <li>
        <p><code>setOptionsMap()</code> method allows you to specify a string caption for each option value explicitly.
        </p>
    </li>
</ul>
