<p><code>RelatedEntities</code> component is a popup button with a list of classes related to the entity displayed in
    the table. Once the user selects the required entity class, a new lookup window is opened, containing the instances
    of this entity class, related to the entity instances selected in the initial table. A filter selecting records
    related to the selected entities is dynamically created in the lookup window.</p>

<p>In this example, the component allows a user to view a <code>Customer</code> and a list of <code>OrderItem</code>s
    related to a selected instance of <code>Order</code>.</p>
