<p><code>RelatedEntities</code> - компонент в виде кнопки с выпадающим списком, при нажатии показывающим список классов,
    связанных с сущностью, экземпляры которой отображаются в таблице. Пользователь выбирает интересующий его класс
    сущности, после чего открывается новый браузер с экземплярами данной сущности, связанными с выбранными экземплярами
    в начальной таблице.</p>
<p>В открытом браузере динамически создается фильтр, который выбирает связанные с выбранными сущностями записи.</p>

<p>В данном примере компонент позволяет отобразить экземпляр <code>Customer</code> и список экземпляров
    <code>OrderItem</code> связанных с выбранным экземпляром <code>Order</code>.</p>
