<p>Компонент <code>EntityComboBox</code> позволяет выбирать экземпляр сущности в выпадающем списке и выполнять действия
    нажатием на кнопки справа.</p>

<p><code>EntityComboBox</code> является по сути гибридом <code>ComboBox</code> и <code>EntityPicker</code>, поэтому все
    описанное для этих компонентов верно и для него. Исключением является список действий по умолчанию, добавляемых при
    определении компонента в XML: для <code>EntityComboBox</code> это действия <code>entity_lookup</code> и <code>entity_open</code>.
</p>

<p>В данном примере первое поле имеет действия по умолчанию, а второе - явно заданные <code>entity_lookup</code> и
    <code>entity_clear</code>.</p>