<p>The <code>EntityComboBox</code> component allows a user to select an entity instance from a drop-down list and
    perform actions by pressing buttons on the right.</p>

<p>In fact <code>EntityComboBox</code> is a hybrid of <code>ComboBox</code> and <code>EntityPicker</code>. Thus it has
    the same features except the default list of actions added when determining the component in XML: for <code>EntityComboBox</code>
    these are <code>entity_lookup</code> and <code>entity_open</code>.</p>

<p>In this example, the first field has default actions, while the second one has <code>entity_lookup</code>
    and <code>entity_clear</code> actions specified explicitly.</p>