<p>Изменить формат представления даты и времени можно с помощью атрибута <code>dateFormat</code>. Значением атрибута
    может быть либо сама строка формата, либо ключ в пакете сообщений (если значение начинается с <code>msg://</code>).
</p>
<p>Формат задается по правилам класса <a href="http://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html"
                                         target="_blank"><code>SimpleDateFormat</code></a>. Если в формате отсутствуют
    символы <code>H</code> или <code>h</code>, то поле времени не выводится.</p>