<p>You can change the date and time format using the <code>dateFormat</code> attribute. An attribute value can be either
    a format string itself or a key in a message pack (if the value starts with <code>msg://</code>).</p>
<p>The format is defined by rules of the
    <a href="http://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html"
       target="_blank">SimpleDateFormat</a>
    class. If there are no <code>H</code> or <code>h</code> characters in the format, the time field will not be
    displayed.</p>