<!-- theme-only:lumo -->
<p>
    The <code>RichTextEditor</code> component has two theme variants:
</p>

<ul>
    <li>no-border</li>
    <li>compact</li>
</ul>

<p>
    You can set these styles to the <code>RichTextEditor</code> component using the <code>themeNames</code> attribute either
    in the XML descriptor or in the view controller using constants from <code>RichTextEditorVariant</code> class.
    <!-- theme-only:lumo:end -->
    You can control the availability of the <code>RichTextEditor</code> using the <code>ReadOnly</code> and <code>Enabled</code> attributes.
    <!-- theme-only:lumo -->
</p>
<!-- theme-only:lumo:end -->
