<!-- theme-only:lumo -->
<p>
    Компонент <code>RichTextEditor</code> имеет два варианта предопределенной темы:
</p>

<ul>
    <li>no-border</li>
    <li>compact</li>
</ul>

<p>
    Вы можете применить эти стили в XML-дескрипторе используя атрибут <code>themeNames</code> или в
    контроллере экрана используя константы из класса <code>RichTextEditorVariant</code>.
    <!-- theme-only:lumo:end -->
    Вы можете контролировать доступность компонента используя свойства <code>ReadOnly</code> и <code>Enabled</code>.
    <!-- theme-only:lumo -->
</p>
<!-- theme-only:lumo:end -->