<p>Using <code>ScaleMode</code> attribute you can scale the image:</p>
<ul>
    <li>
        <p><code>NONE</code> - the image will retain its real size.</p>
    </li>
    <li>
        <p><code>CONTAIN</code> - the image will be compressed or stretched to the minimum dimension of the component
            while preserving the proportions.</p>
    </li>
    <li>
        <p><code>SCALE_DOWN</code> - the content changes size by comparing the difference between <code>NONE</code> and
            <code>CONTAIN</code> in order to find the smallest concrete size of the object</p>
    </li>
    <li>
        <p><code>FILL</code> - the image will be stretched according to the size of the component.</p>
    </li>
</ul>