<p>С помощью атрибута <code>ScaleMode</code> можно задать тип масштабирования изображения:</p>
<ul>
    <li>
        <p><code>NONE</code> - изображение не масштабируется.</p>
    </li>
    <li>
        <p><code>CONTAIN</code> - изображение сжимается или растягивается до минимального размера компонента при
            сохранении пропорций.</p>
    </li>
    <li>
        <p><code>SCALE_DOWN</code> - изображение сравнивает разницу между <code>NONE</code> и <code>CONTAIN</code>, чтобы найти наименьший
            подходящий размер.</p>
    </li>
    <li>
        <p><code>FILL</code> - изображение растягивается по размеру компонента.</p>
    </li>
</ul>