<p>If the field is not connected to an entity attribute (i.e. the data source and attribute name are not set), you can
    set the field value type in the <code>datatype</code> attribute. The attribute value
    accepts any data type registered in the application metadata - see <code>Datatype</code>.
    Typically, <code>TextField</code> uses the following data types:</p>
<ul>
    <li>
        <p><code>decimal</code></p>
    </li>
    <li>
        <p><code>double</code></p>
    </li>
    <li>
        <p><code>int</code></p>
    </li>
    <li>
        <p><code>long</code></p>
    </li>
</ul>