<p>Если поле не связано с атрибутом сущности (то есть не указан источник данных и название атрибута), то можно указать
    тип значения поля с помощью атрибута <code>datatype</code>. В
    качестве значения атрибута может быть указано любое название типа данных, зарегистрированного в метаданных приложения -
    см. <code>Datatype</code>.
    Как правило, в <code>TextField</code> используются следующие типы данных:</p>
<ul>
    <li>
        <p><code>decimal</code></p>
    </li>
    <li>
        <p><code>double</code></p>
    </li>
    <li>
        <p><code>int</code></p>
    </li>
    <li>
        <p><code>long</code></p>
    </li>
</ul>