
.third-step .reminded {
    color: var(--lumo-secondary-text-color);
}

.third-step .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    column-gap: var(--lumo-space-s);
}

.third-step .bold {
    font-weight: 700;
}
