<p>По умолчанию текстовое поле отсекает пробелы в начале и конце введенной строки. То есть если пользователь ввел строку
    "<code> aaa bbb </code>" то значением поля, возвращаемым методом <code>getValue()</code> и
    сохраняемым в связанный атрибут сущности, будет строка "<code>aaa bbb</code>". Для того, чтобы
    отключить отсечение пробелов, используйте атрибут <code>trim</code> со значением <code>false</code>.</p>

<p>Текстовое поле всегда вместо введенной пустой строки возвращает <code>null</code>. Соответственно, при включенном
    атрибуте <code>trim</code> строка, состоящая из одних пробелов также превратится в <code>null</code>.</p>