<p>Компонент <code>GroupTable</code> - это таблица с возможностью динамической группировки по любому полю. Для того
    чтобы сгруппировать таблицу по какой-либо колонке, нужно в заголовке таблицы перетащить эту колонку в позицию слева
    от разделителя в заголовке таблицы.</p>

<p>Для <code>GroupTable</code> в атрибуте <code>container</code> элемента <code>rows</code> должен быть указан
    <code>groupDataContainer</code>. В противном случае группировка работать не будет.</p>

<p><code>group</code> - необязательный элемент, может в единственном экземпляре находиться внутри элемента
    <code>columns</code>. Содержит набор элементов <code>column</code>, по которым будет выполняться
    первоначальная группировка при открытии экрана.</p>