<p><code>GroupTable</code> component is a table with an ability to group information dynamically by any field. In order
    to group a table by a column, drag the required column and drop it to the left of the separator in the
    table header.</p>

<p>A <code>groupDataContainer</code> must be specified for <code>GroupTable</code> in the <code>dataContainer</code> attribute
    of the <code>rows</code> element. Otherwise, grouping will not work.</p>

<p><code>group</code> is an optional element that can be present in a single instance inside <code>columns</code> element.
    It contains a set of <code>column</code> elements, by which grouping will be performed initially when opening a screen.</p>

<p>The functionality of <code>GroupTable</code> is similar to a simple <code>Table</code>.</p>