<p><code>MaskedField</code> - это текстовое поле, в которое данные вводятся в определенном формате.
    <code>MaskedField</code> удобно использовать, например, для ввода телефонных номеров.</p>

<p><code>MaskedField</code> в основном повторяет функциональность <code>TextField</code>,
    за исключением того, что ему нельзя установить <code>datatype</code>. То есть <code>MaskedField</code> предназначен
    для работы только с текстом и строковыми атрибутами сущностей. <code>MaskedField</code> имеет следующие
    специфические атрибуты:</p>
<ul>
    <li>
        <p><code>mask</code> - задает маску для поля. Чтобы задать маску, используются следующие символы:</p>

        <ul>
            <li>
                <p><code>#</code> - цифра</p>
            </li>
            <li>
                <p><code>U</code> - буква верхнего регистра</p>
            </li>
            <li>
                <p><code>L</code> - буква нижнего регистра</p>
            </li>
            <li>
                <p><code>?</code> - буква</p>
            </li>
            <li>
                <p><code>А</code> - буква или цифра</p>
            </li>
            <li>
                <p><code>*</code> - любой символ</p>
            </li>
            <li>
                <p><code>H</code> - hex символ</p>
            </li>
            <li>
                <p><code>~</code> - знак + или -</p>
            </li>
        </ul>
    </li>
    <li>
        <p><code>valueMode</code> - определяет формат возвращаемого значения (с маской, или без) и может принимать
            значение <code>masked</code> или <code>clear</code>.</p>
    </li>
</ul>