<p>The way the data is displayed in columns can be customized using parameterized declarative renderers. Some
    <code>DataGrid</code> renderers are set by special XML elements with parameters defined in the corresponding
    attributes. Renderers can be declared for not generated columns.</p>

<p>The list of renderers supported by the Platform:</p>

<ul>
    <li>
        <code>ButtonRenderer</code> - displays string values as a button caption.
    </li>
    <li>
        <code>CheckBoxRenderer</code> - displays boolean values as a checkbox icon.
    </li>
    <li>
        <code>ClickableTextRenderer</code> - displays simple plain-text string values as a link with call back handler.
    </li>
    <li>
        <code>ComponentRenderer</code> - a renderer for UI components.
    </li>
    <li>
        <code>DateRenderer</code> - displays dates in the defined format.
    </li>
    <li>
        <code>IconRenderer</code> - a renderer that represents <code>JmixIcon</code>.
    </li>
    <li>
        <code>ImageRenderer</code> - uses the path to an image to display the image.
    </li>
    <li>
        <code>HtmlRenderer</code> - displays HTML layout.
    </li>
    <li>
        <code>LocalDateRenderer</code> - displays dates as <code>LocalDate</code> values.
    </li>
    <li>
        <code>LocalDateTimeRenderer</code> - displays dates as <code>LocalDateTime</code> values.
    </li>
    <li>
        <code>NumberRenderer</code> - displays numbers in the defined format.
    </li>
    <li>
        <code>ProgressBarRenderer</code> - displays double values between 0 and 1 as a <code>ProgressBar</code>
        component.
    </li>
    <li>
        <code>TextRenderer</code> - displays plain text.
    </li>
</ul>