<p>Отображение данных в колонках может быть изменено с помощью рендереров. Некоторые рендереры <code>DataGrid</code>
    задаются специальными XML-элементами с параметрами, определенными в соответствующих атрибутах. Рендереры могут быть
    объявлены также и для не генерируемых колонок.</p>

<p>Список рендереров, реализованных в платформе:</p>

<ul>
    <li>
        <code>ButtonRenderer</code> - рендерер, который использует строковое значение в качестве заголовка кнопки.
    </li>
    <li>
        <code>CheckBoxRenderer</code> - рендерер, который отображает булево значение в виде значков чек-бокса.
    </li>
    <li>
        <code>ClickableTextRenderer</code> - отображает простой текст в виде ссылки. Позволяет задать обработчик,
        который будет вызван после нажатия на ссылку.
    </li>
    <li>
        <code>ComponentRenderer</code> - рендерер для компонентов UI.
    </li>
    <li>
        <code>DateRenderer</code> - рендерер для отображения дат в заданном формате.
    </li>
    <li>
        <code>IconRenderer</code> - рендерер, который представляет <code>JmixIcon</code>.
    </li>
    <li>
        <code>ImageRenderer</code> - рендерер, который использует строковое значение в качестве пути до изображения.
    </li>
    <li>
        <code>HtmlRenderer</code> - рендерер для отображения HTML-разметки.
    </li>
    <li>
        <code>LocalDateRenderer</code> - рендерер для отображения дат как значений типа <code>LocalDate</code>.
    </li>
    <li>
        <code>LocalDateTimeRenderer</code> - рендерер для отображения дат как значений типа <code>LocalDateTime</code>.
    </li>
    <li>
        <code>NumberRenderer</code> - рендерер для отображения чисел в заданном формате.
    </li>
    <li>
        <code>ProgressBarRenderer</code> - рендерер, который отображает double-значения от 0 до 1 в виде компонента
        <code>ProgressBar</code>.
    </li>
    <li>
        <code>TextRenderer</code> - рендерер для отображения простого текста.
    </li>
</ul>