<p>Надписи окна палитры можно переопределить, для этого нужно использовать следующие атрибуты:</p>
<ul>
    <li><code>popupCaption</code> - надпись заголовка окна палитры.</li>
    <li><code>confirmButtonCaption</code> - надпись кнопки подтверждения.</li>
    <li><code>cancelButtonCaption</code> - надпись кнопки отмены.</li>
    <li><code>swatchesTabCaption</code> - заголовок вкладки палитры.</li>
    <li><code>lookupAllCaption</code> - надпись элемента выпадающего списка, отвечающего за все цвета.</li>
    <li><code>lookupRedCaption</code> - надпись элемента выпадающего списка, отвечающего за оттенки красного.</li>
    <li><code>lookupGreenCaption</code> - надпись элемента выпадающего списка, отвечающего за оттенки зеленого.</li>
    <li><code>lookupBlueCaption</code> - надпись элемента выпадающего списка, отвечающего за оттенки синего.</li>
</ul>