<p>To redefine the labels in popup, you can use caption attributes:</p>
<ul>
    <li><code>popupCaption</code> - caption of the popup window.</li>
    <li><code>confirmButtonCaption</code> - caption of the confirm button.</li>
    <li><code>cancelButtonCaption</code> - caption of the cancel button.</li>
    <li><code>swatchesTabCaption</code> - swatches tab caption.</li>
    <li><code>lookupAllCaption</code> - caption of lookup item for all colors.</li>
    <li><code>lookupRedCaption</code> - caption of lookup item for red color.</li>
    <li><code>lookupGreenCaption</code> - caption of lookup item for green color.</li>
    <li><code>lookupBlueCaption</code> - caption of lookup item for blue color.</li>
</ul>