<p>Компонент <code>Table</code> позволяет выводить информацию в табличном виде, сортировать данные, управлять колонками
    и заголовками таблицы, вызывать действия для выбранных строк.</p>

<p>В данном примере вы можете попробовать в действии следующие атрибуты <code>table</code>:</p>
<ul>
    <li>
        <p>Атрибут <code>multiselect</code> позволяет задать режим множественного выделения строк в таблице. Если <code>multiselect</code>
            равен <code>true</code>, то пользователь может выделить несколько строк с помощью клавиатуры или мыши,
            удерживая клавиши <strong>Ctrl</strong> или <strong>Shift</strong>. По умолчанию режим множественного
            выделения отключен.</p>
    </li>
    <li>
        <p>Атрибут <code>sortable</code> разрешает или запрещает сортировку в таблице. По умолчанию имеет значение
            <code>true</code>. Если сортировка разрешена, то при нажатии на название колонки справа от названия
            появляется значок
            <span class="table-simple table-sortable-down"></span>/<span class="table-simple table-sortable-up"></span>.
        </p>
    </li>
    <li>
        <p>Установка атрибута <code>columnControlVisible</code> в <code>false</code> запрещает пользователю скрывать
            колонки с помощью меню, выпадающего при нажатии на кнопку
            <span class="table-simple table-column-control-button"></span> в правой части шапки таблицы.
        </p>
    </li>
    <li>
        <p>Установка атрибута <code>reorderingAllowed</code> в <code>false</code> запрещает пользователю менять местами
            колонки, перетаскивая их с помощью мыши.</p>
    </li>
</ul>
