<p>The <code>Table</code> component presents information in a table view, sorts data, manages table columns and headers
    and invokes actions for selected rows.</p>
<p>In this example, you can play with the following <code>table</code> attributes:</p>
<ul>
    <li>
        <p><code>multiselect</code> attribute allows setting multiple selection mode for table rows. If <code>multiselect</code>
            is <code>true</code>, users can select multiple rows in the table using keyboard or mouse holding <strong>Ctrl</strong>
            or <strong>Shift</strong> keys. By default, multiple selection mode is switched off.</p>
    </li>
    <li>
        <p><code>sortable</code> attribute enables sorting data in the table. By default, it is set to <code>true</code>.
            If sorting is allowed, clicking a column header will show a <img
                    src="https://doc.cuba-platform.com/manual-7.2/img/gui_sortable_down.png"/>/<img
                    src="https://doc.cuba-platform.com/manual-7.2/img/gui_sortable_up.png"/> icon to the right of the
            column name.</p>
    </li>
    <li>
        <p><code>columnControlVisible</code> attribute with <code>false</code> value forbids a user to hide columns
            using the drop-down menu of the <img
                    src="https://doc.cuba-platform.com/manual-7.2/img/gui_table_columnControl.png"/>
            button in the right part of the table header.</p>
    </li>
    <li>
        <p><code>reorderingAllowed</code> attribute with <code>false</code> value forbids users to change columns order
            by dragging them with a mouse.</p>
    </li>
</ul>