<p>
    <code>SimplePagination</code> can manage the maximum size of the page. This functionality is presented by the
    following properties:
</p>
<ul>
    <li>
        <code>itemsPerPageVisible</code> - defines whether the dropdown list of maximum page size options should be visible.
    </li>
    <li>
        <code>itemsPerPageOptions</code> - sets custom maximum page size options that should be used in the dropdown
        list. Values should be separated by the comma, e.g. "10, 25, 50".
    </li>
    <li>
        <code>itemsPerPageDefaultValue</code> - sets the default value from available options that should be used by
        default. It can be used even if the <code>itemsPerPageVisible</code> attribute is set to "false".
    </li>
    <li>
        <code>itemsPerPageUnlimitedOptionVisible</code> - defines should be option that is shown as empty item in
        <code>ComboBox</code> visible. If this option is selected the maximum page size will be provided by the
        <code>entityPageSize</code> application property.
    </li>
</ul>