<p>
    <code>SimplePagination</code> может управлять максимальным количеством элементов на странице. Данная
    функциональность представлена следующими свойствами:
</p>
<ul>
    <li>
        <code>itemsPerPageVisible</code> - определяет должен ли быть видимым выпадающий список с вариантами
        максимального количества элементов на странице.
    </li>
    <li>
        <code>itemsPerPageOptions</code> - устанавливает список максимальных значений страницы. Значения должны быть
        разделены запятой, например: "10, 25, 50".
    </li>
    <li>
        <code>itemsPerPageDefaultValue</code> - устанавливает значение по умолчанию из списка доступных значений.
        Может использоваться если атрибут <code>itemsPerPageVisible</code> установлен в "false".
    </li>
    <li>
        <code>itemsPerPageUnlimitedOptionVisible</code> - определяет должно ли значение, которое отображается как
        пустая строка в компоненте <code>ComboBox</code> быть видимым. Если данное значение выбрано, то максимальный
        размер страницы будет равен значению свойства приложения <code>entityPageSize</code>.
    </li>
</ul>