<p>Атрибут <code>aggregatable</code> включает режим агрегации строк <strong>DataGrid</strong>. Поддерживаются следующие
    операции:</p>
<ul>
    <li>
        <p><code>SUM</code> - сумма</p>
    </li>
    <li>
        <p><code>AVG</code> - среднее значение</p>
    </li>
    <li>
        <p><code>COUNT</code> - количество</p>
    </li>
    <li>
        <p><code>MIN</code> - минимальное значение</p>
    </li>
    <li>
        <p><code>MAX</code> - максимальное значение</p>
    </li>
</ul>
<p>Для агрегируемых колонок необходимо указать элемент <code>aggregation</code> с атрибутом <code>type</code>, задающим
    функцию агрегации. Агрегированные значения столбцов выводятся в дополнительной строке вверху <strong>DataGrid</strong>.</p>
<p>Атрибут <code>aggregationStyle</code> позволяет задать положение строки агрегации: <code>TOP</code> или
    <code>BOTTOM</code>. По умолчанию используется <code>TOP</code>.</p>
<p>В дополнение к операциям, перечисленным выше, можно задать собственную стратегию агрегации путем создания класса,
    реализующего интерфейс <code>AggregationStrategy</code>.</p>