<p>Компонент <code>label</code> может содержать вложенный элемент форматтера для представления значения атрибута в виде,
    отличном от стандартного для данного <a href="https://doc.cuba-platform.com/manual-7.2-ru/datatype.html"
                                            target="_blank">Datatype</a>.</p>
<p>Виды форматтеров:</p>
<ul>
    <li>
        <p><code>classNameFormatter</code> - форматирует строку, содержащую путь к классу, где пакеты разделены точками,
            в строку, которая является именем класса.</p>
    </li>
    <li>
        <p><code>collectionFormatter</code> - форматирует коллекцию в строку, в которой элементы коллекции разделяются
            запятыми.</p>
    </li>
    <li>
        <p><code>customFormatter</code> - устанавливает пользовательский форматтер для преобразования значения
            компонента в строку.</p>
    </li>
    <li>
        <p><code>dateFormatter</code> - форматирует значение даты в строку в зависимости от строки формата.</p>
    </li>
    <li>
        <p><code>numberFormatter</code> - форматирует числовое значение в строку в зависимости от строки формата.</p>
    </li>
</ul>