<p><code>Label</code> component may contain a nested formatter elements that allows to represent the attribute value in
    a format different from the standard for this <a href="https://doc.cuba-platform.com/manual-7.2/datatype.html"
                                                     target="_blank">Datatype</a>.</p>

<p>Formatter elements:</p>
<ul>
    <li>
        <p><code>classNameFormatter</code> - formats the string that contains the class path, where the packages are
            separated by dots, into a string that is the class name.</p>
    </li>
    <li>
        <p><code>collectionFormatter</code> - formats collection into a string where the elements of the collection are
            separated by commas.</p>
    </li>
    <li>
        <p><code>customFormatter</code> - sets a custom formatter to format the component value to a string.</p>
    </li>
    <li>
        <p><code>dateFormatter</code> - formats the Date value into a string depending on the format string</p>
    </li>
    <li>
        <p><code>numberFormatter</code> - formats the Number value into a string depending on the format string.</p>
    </li>
</ul>