<p>In this example, the configuration was created in design-time in XML, made default using <code>default</code> XML
    attribute. So it appears right after opening the screen.</p>

<p>The filter configuration conditions are contained in the tree. All top-level conditions are joined by logical
    condition (the default is AND). You can add AND or OR groups to create complex conditions.</p>

<p>A user can create group conditions by selecting <b>Create Group condition</b> in the <b>Add search condition</b>
    dialog. Group conditions can also be defined in the screen XML (<code>groupFilter</code>).</p>

<p>You can open the advanced conditions editor by selecting <b>Edit</b> in the settings drop-down menu.</p>
