<p>В данном примере конфигурация была создана во время разработки и установлена "по умолчанию" с помощью атрибута
    <code>default</code>. Поэтому конфигурация появляется сразу после открытия экрана.</p>

<p>Условия конфигурации образуют древовидную структуру. Все условия верхнего уровня объединяются по логическому условию
    (по умолчанию И). Вы можете добавить группы И или ИЛИ для создания сложных условий.</p>

<p>Пользователи могут создавать групповые условия, выбрав пункт <b>Создать Групповое условие</b> диалога
    <b>Добавить условие поиска</b>. Групповые условия также могут быть определены в XML экрана (<code>groupFilter</code>).
</p>

<p>Расширенный редактор условий доступен через пункт <b>Редактировать</b> выпадающего меню настроек фильтра.</p>
