<p>
    <code>PropertyFilter</code> - is a component used for displaying a single filtering condition. It requires the
    following attributes:
</p>
<ul>
    <li>
        <code>property</code> - may be a property of the entity or properties path (e.g. customer.age).
    </li>
    <li>
        <code>operation</code> - sets filtering operations like <code>CONTAINS</code>, <code>EQUAL</code>, etc.
    </li>
    <li>
        <code>dataLoader</code> - sets a <code>DataLoader</code> id.
    </li>
</ul>