<p>
    <code>PropertyFilter</code> - компонент для отображения условия фильтрации. Для работы компонента требуются
    следующие атрибуты:
</p>
<ul>
    <li>
        <code>property</code> - свойство сущности или свойство вложенной сущности (например, customer.age).
    </li>
    <li>
        <code>operation</code> - устанавливает операцию фильтрации: <code>CONTAINS</code>, <code>EQUAL</code> и т.д.
    </li>
    <li>
        <code>dataLoader</code> - устанавливает идентификатор <code>DataLoader</code>.
    </li>
</ul>