<p>When <code>simple</code> XML attribute of a <code>TokenList</code> is set to <code>true</code>, the items selection
    component will be hidden with only the <strong>Add</strong> button left. Clicking the <strong>Add</strong> button
    opens the screen with the list of entity instances which type is defined by the <code>dataContainer</code>. Selection screen
    identifier is selected according to the rules for the <code>entity_lookup</code> standard action.</p>

<p>If the value of the <code>multiselect</code> attribute is set to <code>true</code>, then <code>true</code> will be
    passed to parameters map of the lookup screen for the <code>MULTI_SELECT</code> key. In this example, this parameter
    is used to switch the lookup table to multi-select mode.</p>