<p>Значение <code>true</code> атрибута <code>simple</code> позволяет убрать компонент выбора, оставляя только кнопку
    добавления. При нажатии на кнопку добавления сразу показывается экран списка экземпляров сущности, тип которой задан
    источником данных <code>dataContainer</code>. Идентификатор экрана выбора определяется по правилам, описанным для
    стандартного действия <code>entity_lookup</code>.</p>

<p>Если значение атрибута <code>multiselect</code> установлено в <code>true</code>, то в мэп параметров экрана выбора в
    ключе <code>MULTI_SELECT</code> передается значение <code>true</code>. В данном примере этот признак используется
    для установки в таблице режима множественного выбора.</p>