<p>You can use the following attributes of the <code>lookup</code> element:</p>
<ul>
    <li>
        <p><code>lookup</code> attribute makes it possible to select items using an entity lookup screen.</p>
    </li>
    <li>
        <p><code>lookupScreen</code> attribute sets the identifier of the screen used for items selection in <code>lookup="true"</code>
            mode. If this attribute is not set, screen identifier is selected according to the rules for the <code>entity_lookup</code>
            standard action.</p>
    </li>
    <li>
        <p><code>openType</code> attribute defines how the lookup screen will be opened, similar to what is described
            for the <code>entity_lookup</code> standard action. Default value - <code>THIS_TAB</code>.</p>
    </li>
</ul>