<p>Атрибуты элемента <code>lookup</code>:</p>
<ul>
    <li>
        <p>Атрибут <code>lookup</code> задает возможность выбора значений через экран выбора сущностей.</p>
    </li>
    <li>
        <p>Атрибут <code>lookupScreen</code> задает идентификатор экрана для выбора значений в режиме <code>lookup="true"</code>.
            Если данный атрибут не задан, то идентификатор экрана выбора определяется по правилам, описанным для
            стандартного действия <code>entity_lookup</code>.</p>
    </li>
    <li>
        <p>Атрибут <code>openType</code> можно задать способ открытия экрана выбора, аналогично описанному для
            стандартного действия <code>entity_lookup</code>. По умолчанию - <code>THIS_TAB</code>.</p>
    </li>
</ul>