<p>
    The <code>Button</code> component has several theme variants:
</p>

<ul>
    <li>primary</li>
    <li>success</li>
    <li>warning</li>
    <li>error</li>
    <!-- theme-only:lumo -->
    <li>contrast</li>
    <!-- theme-only:lumo:end -->
    <li>large</li>
    <li>small</li>
    <li>icon</li>
    <li>tertiary</li>
    <!-- theme-only:lumo -->
    <li>tertiary-inline</li>
    <!-- theme-only:lumo:end -->
</ul>

<p>
    You can set these styles to the <code>Button</code> component using the <code>themeNames</code> attribute either
    in the XML descriptor or in the view controller using constants from <code>ButtonVariant</code> class.
</p>