<p>For <code>EntityPicker</code>, you can define an arbitrary number of actions, displayed as buttons on the right. It
    can be done either in the XML descriptor using the <code>actions</code> nested element, or programmatically in the
    controller using <code>addAction()</code>.</p>

<p>In this example, we have defined three actions in XML: standard <code>entity_lookup</code> and
    <code>entity_open</code>, and custom <code>greeting</code>. In the controller, we have added <code>showGrade</code>
    custom action and <code>entity_clear</code> standard action with the redefined icon.</p>