<p>Для <code>EntityPicker</code> можно определить произвольное количество действий, отображаемых кнопками справа. Это
    можно сделать как в XML-дескрипторе с помощью вложенного элемента <code>actions</code>, так и программно в
    контроллере методом <code>addAction()</code>.</p>

<p>В данном примере три действия определены в XML: стандартные <code>entity_lookup</code> и <code>entity_open</code>, и
    собственное <code>greeting</code>. В контроллере добавлены собственное действие <code>showGrade</code> и стандартное
    <code>entity_clear</code> с переопределенным значком.</p>