<p><code>setCellDescriptionProvider()</code> примает экземпляр <code>CellDescriptionProvider</code>, который будет
    использоваться для генерации всплывающих подсказок для отдельных ячеек <code>DataGrid</code></p>

<p><code>setRowDescriptionProvider()</code> примает экземпляр <code>RowDescriptionProvider</code>, который будет
    использоваться для генерации всплывающих подсказок для строк <code>DataGrid</code>. Если
    <code>CellDescriptionProvider</code> так же установлен, то <code>RowDescriptionProvider</code> будет использован
    только для тех ячеек, для которых <code>CellDescriptionProvider</code> возвращает <code>null</code>.</p>