<p>Список опций компонента может быть задан произвольно с помощью следующих методов:</p>
<ul>
    <li>
        <p>
            <code>setOptionsList()</code> позволяет программно задать список опций компонента;
        </p>
    </li>
    <li>
        <p>
            <code>setOptionsMap()</code> позволяет явно задать строковые названия значениям опций;
        </p>
    </li>
    <li>
        <p>
            <code>setOptionsEnum()</code> принимает в качестве параметра класс перечисления. Список опций будет состоять
            из локализованных названий значений перечисления, значением компонента будет являться выбранное значение
            перечисления.
        </p>
    </li>
</ul>

<p>Атрибуты <code>nullName</code> и <code>inputPrompt</code> позволяют задать строку, отображаемую вместо значения
    <code>null</code>.</p>