<p>Метод <code>addGeneratedColumn()</code> позволяет задать собственное представление данных в колонке. Он принимает два
    параметра: идентификатор колонки и реализацию интерфейса <code>Table.ColumnGenerator</code>. Идентификатор может
    совпадать с одним из идентификаторов, указанных для колонок таблицы в XML-дескрипторе - в этом случае новая колонка
    вставляется вместо заданной в XML. Если идентификатор не совпадает ни с одной колонкой, создается новая справа.</p>
<p>Метод <code>generateCell()</code> интерфейса <code>Table.ColumnGenerator</code> вызывается таблицей для каждой
    строки, и в него передается экземпляр сущности, отображаемой в данной строке. Метод <code>generateCell()</code>
    должен вернуть визуальный компонент, который и будет отображаться в ячейке.</p>
<p>В атрибуте <code>generator</code> задается имя метода контроллера, который вызывается для создания генерируемой
    колонки. Такой метод должен принимать экземпляр сущности, отображаемой в данной строке.</p>