<p>
    The <code>TwinColumn</code> component has several theme variants:
</p>
<ul>
    <li>no-border</li>
    <!-- theme-only:lumo -->
    <li>no-row-border</li>
    <li>checkmarks</li>
    <!-- theme-only:lumo:end -->
    <li>no-spaces-between-actions</li>
</ul>

<p>
    You can set these styles to the <code>TwinColumn</code> component using the <code>themeNames</code> attribute either
    in the XML descriptor or in the view controller using constants from <code>TwinColumnVariant</code> class.
</p>