<p><code>selectionMode</code> - определяет режим выделения строк. Поддерживаются следующие режимы:</p>
<ul>
    <li>
        <p><code>SINGLE</code> - единичный выбор строки.</p>
    </li>
    <li>
        <p><code>MULTI</code> - множественный выбор строк как в таблице.</p>
    </li>
    <li>
        <p><code>MULTI_CHECK</code> - множественный выбор строк с использованием встроенной колонки с чекбоксами.</p>
    </li>
    <li>
        <p><code>NONE</code> - выбор строк отключен.</p>
    </li>
</ul>