
.icon-info-layout {
    padding: var(--lumo-space-wide-m);
    gap: var(--lumo-space-m);
    display: flex;

    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius-l);
}

.icon-info-layout:hover {
    background-color: var(--lumo-primary-color-10pct);
}

.icon-layout {
    border: 1px solid;
    border-color: var(--lumo-contrast-20pct);
    border-radius: var(--lumo-border-radius-l);
    background-color: var(--lumo-contrast-5pct);;

    width: 100%;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
}

.icon-info-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.icon-size {
    min-height: 2em;
    min-width: 2em;
}

.icon-name-text {
    font-size: var(--lumo-font-size-xxs);
}

.icon-fqn-text {
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-xxs);
}
