<p>Список опций компонента может быть задан с помощью методов <code>setOptionsList()</code>,
    <code>setOptionsMap()</code> и <code>setOptionsEnum()</code>.</p>
<ul>
    <li>
        <p>При использовании <code>setOptionsList()</code> выпадающий список будет отображать результаты преобразования
            каждой опции методом <code>toString()</code>.</p>
    </li>
    <li>
        <p>Метод <code>setOptionsMap()</code> позволяет явно задать строковые названия значениям опций.</p>
    </li>
    <li>
        <p>Метод <code>setOptionsEnum()</code> принимает в качестве параметра класс перечисления. Выпадающий список
            будет содержать локализованные названия значений перечисления, значением компонента будет являться выбранное
            значение перечисления.</p>
    </li>
</ul>