<p>The <code>ValuesPicker</code> component works with a list of values of any type. It consists of the text field and
    the set of buttons defined by actions.</p>

<p><code>ValuesPicker</code> is convenient to use if you need to edit the list of values through actions, not in the
    text field.</p>

<p>You can define custom and predefined actions for <code>ValuesPicker</code> displayed as buttons on the right.</p>

<p>The framework provides <code>value_clear</code> and <code>values_select</code> predefined actions.</p>

<p>The <code>values_select</code> action sets a value to <code>ValuesPicker</code> using a value selection screen. The
    value selection screen generates a specific component to select or create a value depending on the passed value
    type.</p>