<p>Компонент <code>ValuesPicker</code> работает со списком значений любого типа. Он состоит из текстового поля и набора
    кнопок, определяемых действиями.</p>

<p><code>ValuesPicker</code> удобно использовать, если вам нужно редактировать список значений с помощью действий, а не
    в текстовом поле.</p>

<p>Вы можете определить пользовательские и предопределенные действия для <code>ValuesPicker</code>, отображаемые в виде
    кнопок справа.</p>

<p>Framework предоставляет предопределенные действия <code>value_clear</code> и <code>values_select</code>.</p>

<p>Действие <code>values_select</code> устанавливает значение для <code>ValuesPicker</code> с помощью экрана выбора
    значения. Экран выбора значения генерирует определенный компонент для выбора или создания значения в зависимости от
    типа переданного значения.</p>