<p><code>TreeDataGrid</code> component is designed to display and sort tabular data, and provides means to display
    hierarchical data and manipulate rows and columns with greater performance due to lazy loading of data while
    scrolling.</p>

<p>For <code>TreeDataGrid</code>, two attributes should be set: <code>dataContainer</code> which binds <code>treeDataGrid</code>
    to a <code>data container</code>, and <code>hierarchyProperty</code>
    which is the name of the entity attribute which references the same entity.</p>

<p>The functionality of <code>TreeDataGrid</code> is similar to a simple <code>DataGrid</code>.
</p>