<p>Компонент <code>Slider</code> представляет собой горизонтальную или вертикальную полосу с ползунком. Перетаскивая
    ползунок с помощью мыши, можно установить числовое значение в заданном диапазоне. Во время перетаскивания
    отображается числовое значение..</p>

<p>Атрибуты компонента <code>Slider</code>:</p>

<ul>
    <li><code>max</code> - максимальное значение диапазона, по-умолчанию 100.</li>

    <li><code>min</code> - минимальное значение диапазона, по-умолчанию 0.</li>

    <li><code>resolution</code> - количество знаков после запятой для дробной части, по-умолчанию 0.</li>

    <li><code>orientation</code> - горизонтальное или вертикальное расположение слайдера, по-умолчанию горизонтальное.</li>

    <li><code>updateValueOnClick</code> - если установлено <code>true</code>, то установить ползунок в нужное значение
        можно кликнув по полосе. Значение по-умолчанию <code>false</code>.
    </li>
</ul>