<p><code>Slider</code> is a vertical or horizontal bar. It allows setting a numeric value within a defined range by
    dragging a bar handle with the mouse. The value is shown when dragging the handle.</p>

<p>The <code>Slider</code> component has the following specific attributes:</p>

<ul>
    <li><code>max</code> - the maximum value of the slider range. The default is 100.</li>

    <li><code>min</code> - the minimum value of the slider range. The default is 0.</li>

    <li><code>resolution</code> - a number of digits after the decimal point. The default is 0.</li>

    <li><code>orientation</code> - <strong>horizontal</strong> or <strong>vertical</strong> placement of the slider.
        The default is <strong>horizontal</strong>.</li>

    <li><code>updateValueOnClick</code> - if set to <code>true</code>, the value of the slider can be updated by
        clicking on the bar. The default is <code>false</code>.
    </li>
</ul>