<ul>
    <li>
        <p><code>EditorOpenListener</code> - срабатывает перед тем, как редактор будет открыт.</p>
    </li>
    <li>
        <p><code>EditorPreCommitListener</code> - срабатывает перед тем, как изменения элемента отправятся в контейнер
            данных.</p>
    </li>
    <li>
        <p><code>EditorPostCommitListener</code> - срабатывает после того, как изменения элемента отправлены в контейнер
            данных.</p>
    </li>
    <li>
        <p><code>EditorCloseListener</code> - срабатывает, когда встроенный редактор <code>DataGrid</code> закрылся.</p>
    </li>
</ul>