<ul>
    <li>
        <p><code>EditorOpenListener</code> - called before the DataGrid editor is opened.</p>
    </li>
    <li>
        <p><code>EditorPreCommitListener</code> - called before item changes is sent to data container.</p>
    </li>
    <li>
        <p><code>EditorPostCommitListener</code> - called after item changes is sent to data container.</p>
    </li>
    <li>
        <p><code>EditorCloseListener</code> - called when a <code>DataGrid</code> editor UI have been closed.</p>
    </li>
</ul>