<p>
    Компонент <code>EntitySuggestionField</code> объединяет в себе функциональность поля с подсказками и компонента
    <code>EntityPicker</code>, предназначенного для отображения экземпляра сущности. Второй способ связать компонент с
    данными - это установить значение атрибуту <code>metaclass</code>.
</p>

<p>
    Логика поиска задаётся с помощью интерфейса <code>SearchExecutor</code>. Можно установить следующие параметры:
</p>
<ul>
    <li>
        <code>asyncSearchDelayMs</code> - задержка между последней нажатой клавишей и запуском поиска;
    </li>
    <li>
        <code>suggestionsLimit</code> - ограничение количества показываемых подсказок;
    </li>
    <li>
        <code>minSearchStringLength</code> - минимальное количество символов, которое нужно ввести, чтобы запустить.
    </li>
</ul>