jmix-full-calendar .fc-event.green-background-event {
    background: var(--lumo-success-color);
    border-radius: inherit;
    color: var(--lumo-success-contrast-color);
}

jmix-full-calendar .fc-event.red-background-event {
    background: var(--lumo-error-color);
    border-radius: inherit;
    color: var(--lumo-error-contrast-color);
}