<p>Можно использовать следующие атрибуты <code>tokenList</code>:</p>
<ul>
    <li>
        <p><code>position</code> - задает позиционирование раскрывающегося списка. Атрибут может принимать два значения: <code>TOP</code>, <code>BOTTOM</code>. По умолчанию <code>TOP</code>.</p>
    </li>
    <li>
        <p>Атрибут <code>inline</code> задает отображение списка выбранных значений: вертикально или горизонтально. Значение <code>true</code> соответствует горизонтальному расположению, значение <code>false</code> - вертикальному.</p>
    </li>
</ul>