<p>You can define the following <code>tokenList</code> attributes:</p>
<ul>
    <li>
        <p><code>position</code> - sets the position for the drop-down list. The attribute can take two values: <code>TOP</code>, <code>BOTTOM</code>. Default is <code>TOP</code>.</p>
    </li>
    <li>
        <p><code>inline</code> attribute defines how the list with selected items will be displayed: vertically or horizontally. <code>true</code> corresponds to horizontal alignment, <code>false</code> - to vertical.</p>
    </li>
</ul>