<p>
    <code>DropdownButton</code> имеет несколько предопределённых тем:
</p>

<ul>
    <li>primary</li>
    <li>success</li>
    <li>warning</li>
    <li>error</li>
    <!-- theme-only:lumo -->
    <li>contrast</li>
    <!-- theme-only:lumo:end -->
    <li>large</li>
    <li>small</li>
    <li>icon</li>
    <li>tertiary</li>
    <!-- theme-only:lumo -->
    <li>tertiary-inline</li>
    <!-- theme-only:lumo:end -->
</ul>

<p>
    Вы можете применить эти стили в XML-дескрипторе используя атрибут <code>themeNames</code> или в
    контроллере экрана используя константы из классов <code>ComboButtonVariant</code> или <code>DropdownButtonVariant</code>.
</p>