
vaadin-grid::part(high-grade) {
    background-color: var(--lumo-success-color-10pct);
}

vaadin-grid::part(standard-grade) {
    background-color: var(--lumo-contrast-10pct);
}

vaadin-grid::part(premium-grade) {
    background-color: var(--lumo-primary-color-10pct);
}

vaadin-grid::part(font-weight-bold) {
    font-weight: bold;
}
