<p>Аннотация <code>@CurrencyValue</code> помечает поля класса сущности, которые хранят валютные данные (доллар, евро и
    т.д.). Если данная аннотация используется на поле сущности, то значение данной аннотации будет использовано в
    качестве надписи в компоненте <code>CurrencyField</code>.</p>

<p> Если поле сущности, помеченное данной аннотацией, используется в FieldGroup, Table, DataGrid, то
    в качестве компонента для редактирования и отображения автоматически будет создан CurrencyField для данного
    поля.</p>