<p><code>setStyleProvider()</code> method allows setting table cell display style.</p>
<p>The method accepts an implementation of <code>Table.StyleProvider</code> interface as a parameter. <code>getStyleName()</code>
    method of this interface is invoked by the table for each row and each cell separately. If the method is invoked for
    a row, the first parameter contains the entity instance displayed by the row, the second parameter is
    <code>null</code>. If the method is called for a cell, the second parameter contains the name of the attribute
    displayed by the cell.</p>