<p>Метод <code>setStyleProvider()</code> позволяет задать стиль отображения ячеек таблицы. Параметром метода должна быть
    реализация интерфейса <code>Table.StyleProvider</code>. Метод <code>getStyleName()</code> этого интерфейса
    вызывается таблицей отдельно для каждой строки и для каждой ячейки. Если метод вызван для строки, то первый параметр
    содержит экземпляр сущности, отображаемый этой строкой, а второй параметр <code>null</code>. Если же метод вызван
    для ячейки, то второй параметр содержит имя атрибута, отображаемого этой ячейкой.</p>