<p>
    Компонент <code>EntitySuggestionField</code> объединяет в себе функциональность поля с подсказками и компонента
    <code>EntityPicker</code>, предназначенного для отображения экземпляра сущности. Первый способ связать данные с
    компонентом - это связать его с атрибутом сущности путем указания XML-атрибутов <code>dataContainer</code> и
    <code>property</code>.
</p>

<p>
    <code>query</code> - необязательный элемент, который позволяет задать запрос для предлагаемых значений.
</p>

<p>
    Логика поиска задаётся с помощью интерфейса <code>SearchExecutor</code>. Можно установить следующие параметры:
</p>
<ul>
    <li>
        <code>asyncSearchDelayMs</code> - задержка между последней нажатой клавишей и запуском поиска;
    </li>
    <li>
        <code>suggestionsLimit</code> - ограничение количества показываемых подсказок;
    </li>
    <li>
        <code>minSearchStringLength</code> - минимальное количество символов, которое нужно ввести, чтобы запустить.
    </li>
</ul>