<p><code>Calendar</code> allows you to display events for one month if the range between <code>startDate</code> and
    <code>endDate</code> is not more than 60 days and more than 7 days. In the example, you can see:</p>
<ul>
    <li>
        <p>
            If you set <code>stylename</code> for calendar events, you can determine their styles as shown in CSS.
        </p>
    </li>
    <li>
        <p>
            You can set some listeners. Here is added <code>CalendarEventClickListener</code>, which opens a modal
            window with an event info.
        </p>
    </li>
</ul>