Компонент <code>Calendar</code> позволяет выводить информацию в виде расписания, компоновать события, вызывать действия для конкретных событий.
В данном примере показаны:
<ul>
    <li>
        <p>
            При указании диапазона значений с помощью атрибутов <code>startDate</code> и <code>endDate</code> более 7 дней, компонент отображает весь месяц целиком.
        </p>
    </li>
    <li>
        <p>
            События календаря могу определять имена CSS стилей при помощи атрибута <code>styleName</code>.
        </p>
    </li>
    <li>
        <p>
            По клику на событие календаря открывается модальное окно с детальной информацией.
        </p>
    </li>
</ul>