@import "../hover/hover-defaults";

$v-app-loading-text: "Jmix UI Samples";

$jmix-sidemenu-background-color: $v-app-background-color;
$jmix-sidemenu-title-background-color: $jmix-sidemenu-background-color;