@import "../hover/hover-defaults";

$v-app-loading-text: "Jmix backoffice UI sampler";

$cuba-sidemenu-background-color: $v-app-background-color;
$cuba-sidemenu-title-background-color: $cuba-sidemenu-background-color;