.jmix-tagfield .jmix-taglabel.new {
  background-color: #037516;
}

.jmix-tagfield .jmix-taglabel.discount {
  background-color: #e00000;
}

.jmix-tagfield .jmix-taglabel.guarantee {
  background-color: #3498db;
}

.jmix-tagfield .jmix-taglabel.bestseller {
  background-color: #ffa746;
}