<p>Текстовому полю может быть назначен валидатор - класс, реализующий интерфейс <code>Validator</code>. Валидатор
    позволяет дополнительно к <code>datatype</code> ограничить вводимую пользователем информацию.</p>

<p>В отличие от проверки вводимой строки на соответствие типу данных, валидация срабатывает не сразу при потере полем
    фокуса, а только при вызове у поля метода <code>validate()</code>. Это означает, что поле (и связанный с ним атрибут
    сущности) может некоторое время содержать значение, не удовлетворяющее условиям валидации.</p>