<p><code>JavaScriptComponent</code> - это простой компонент пользовательского интерфейса, который представляет собой
    универсальную обёртку для использования любой готовой библиотеки JavaScript в приложении на базе Jmix напрямую, без
    необходимости подключать компонент Vaadin.</p>

<p>В этом примере мы будем взаимодействовать с JavaScript API для <a
        href="https://developers.google.com/maps/documentation/javascript">GoogleMaps</a>.
    С помощью клика по карте можно определить текущие координаты, а с помощью кнопки <code>Добавить</code> можно
    добавить маркер по указанным координатам.</p>

<p>Для того, чтобы иметь доступ к GoogleMaps вам обязательно нужен <a
        href="https://developers.google.com/maps/documentation/javascript/get-api-key">ключ</a>.</p>

<p><code>jsComponent</code> имеет следующие зависимости:</p>
<ul>
    <li>файл коннектора, расположенный в директории <code>resources/VAADIN/googlemaps</code>;
    <li>файл со стилями, расположенный в директории <code>resources/VAADIN/googlemaps</code>.
</ul>