<p><code>JavaScriptComponent</code> is a simple UI component that can work with any JavaScript wrapper without Vaadin
    component implementation. Thus, you can easily integrate any pure JavaScript component in your Jmix-based
    application.</p>

<p>In this sample we will be interacting with <a href="https://developers.google.com/maps/documentation/javascript">GoogleMaps
    JavaScript API</a>. By clicking on the map, you can determine the current coordinates, and using the
    <code>Add</code> button, you can add a marker at the specified coordinates.</p>

<p>In order to have access to the GoogleMaps, you definitely need an <a
        href="https://developers.google.com/maps/documentation/javascript/get-api-key">API key</a>.</p>

<p><code>jsComponent</code> has the following dependencies:</p>
<ul>
    <li>connector is placed in the <code>resources/VAADIN/googlemaps</code> directory;
    <li>style is placed in the <code>resources/VAADIN/googlemaps</code> directory.
</ul>