<p><code>DataGrid</code>, similarly to the <code>Table</code> component, is designed to
    display and sort tabular data, and provides means to manipulate rows and columns with greater performance due to
    lazy loading of data while scrolling.</p>

<p>In this example, you can play with the following <code>DataGrid</code> attributes:</p>

<ul>
    <li>
        <p><code>sortable</code> - enables or disables the <code>DataGrid</code> sorting. The default value is <code>true</code>.
            When the sorting is enabled, the click on the column name will display the sorting icon to the right of che
            column caption. Sorting of any specific column can be disabled by this column’s <code>sortable</code> attribute.</p>
    </li>
    <li>
        <p><code>reorderingAllowed</code> - defines whether a user can change the columns order by dragging them with a
            mouse. The default value is <code>true</code>.</p>
    </li>
    <li>
        <p><code>columnsCollapsingAllowed</code> - defines whether a user can hide columns in the sidebar menu.
            Displayed columns are checked in the menu. When a column name is checked/unchecked, the value of <code>collapsed</code>
            attribute of each column is updated. When set to <code>false</code>, the <code>collapsed</code> attribute of
            any column cannot be set to <code>true</code>.</p>
    </li>
</ul>