<p><code>DataGrid</code>, подобно компоненту <code>Table</code>, позволяет выводить информацию
    в виде таблицы, сортировать её, вызывать действия для выбранных строк, а также более эффективно управлять строками и
    колонками таблицы за счёт отложенной загрузки данных при прокрутке.</p>

<p>В данном примере вы можете попробовать в действии следующие атрибуты <code>DataGrid</code>:</p>

<ul>
    <li>
        <p><code>sortable</code> - разрешает или запрещает сортировку в <code>DataGrid</code>. По умолчанию имеет
            значение <code>true</code>. Если сортировка разрешена, то при нажатии на название колонки справа от названия
            появляется соответствующий значок. Сортировку некоторой отдельной колонки можно запретить с помощью атрибута
            <code>sortable</code> этой колонки.</p>
    </li>
    <li>
        <p><code>reorderingAllowed</code> - разрешает или запрещает пользователю менять местами колонки, перетаскивая их
            с помощью мыши. По умолчанию имеет значение <code>true</code>.</p>
    </li>
    <li>
        <p><code>columnsCollapsingAllowed</code> - разрешает или запрещает пользователю скрывать колонки с помощью меню
            (sidebar menu) в правой части шапки <code>DataGrid</code>. Флажками в меню отмечаются отображаемые в данный
            момент колонки. В момент установки перезаписывает значение <code>collapsed</code> каждой отдельной колонки.
            Установка значения в <code>false</code> не позволяет атрибуту <code>collapsed</code> отдельной колонки
            принять значение <code>true</code>.</p>
    </li>
</ul>