<p>Компонент <code>TreeTable</code> - иерархическая таблица, отображающая в первой колонке древовидную структуру.
    Предназначена для работы с сущностями, которые содержат ссылки на самих себя. Это могут быть например, файловая
    система или организационная структура предприятия.</p>

<p>Для <code>TreeTable</code> кроме атрибута <code>dataContainer</code>, задающего <code>data container</code> для
    загрузки данных в таблицу, необходимо определить атрибут <code>hierarchyProperty</code> – имя атрибута сущности,
    являющегося ссылкой на саму себя.</p>

<p>Функциональность <code>TreeTable</code> аналогична простой таблице <code>Table</code>.</p>