<p><code>TreeTable</code> component is a hierarchical table displaying a tree-like structure in the leftmost column. The
    component is used for entities that have references to themselves. For example, it can be a file system or a company
    organization chart.</p>

<p>For <code>TreeTable</code>, a <code>hierarchicalDatasource</code> should be set in the <code>datasource</code>
    attribute of the <code>rows</code> element. Declaration of a <code>hierarchicalDatasource</code>
    should contain <code>hierarchyProperty</code> attribute - the name of the entity attribute which references the same
    entity.</p>

<p>The functionality of <code>TreeTable</code> is similar to a simple <code>Table</code>.</p>