<p><code>TreeTable</code> component is a hierarchical table displaying a tree-like structure in the leftmost column. The
    component is used for entities that have references to themselves. For example, it can be a file system or a company
    organization chart.</p>

<p>For <code>TreeTable</code>, two attributes should be set: <code>dataContainer</code> which binds
    <code>treeTable</code> to a <code>data container</code>, and <code>hierarchyProperty</code> which is the name of the
    entity attribute which references the same entity.</p>

<p>The functionality of <code>TreeTable</code> is similar to a simple <code>Table</code>.</p>