<p>Компонент <code>TreeTable</code> - иерархическая таблица, отображающая в первой колонке древовидную структуру.
    Предназначена для работы с сущностями, которые содержат ссылки на самих себя. Это могут быть например, файловая
    система или организационная структура предприятия.</p>

<p>Для <code>TreeTable</code> в атрибуте <code>datasource</code> элемента <code>rows</code> должен быть указан
    <code>hierarchicalDatasource</code>. Объявление <code>hierarchicalDatasource</code> должно содержать атрибут
    <code>hierarchyProperty</code> - имя атрибута сущности, являющегося ссылкой на саму себя.</p>

<p>Функциональность <code>TreeTable</code> аналогична простой таблице <code>Table</code>.</p>