<p>Текстовая область - многострочное текстовое поле для редактирования текста.</p>
<p><code>TextArea</code> в основном повторяет функциональность <code>TextField</code>, за исключением того, что ему
    нельзя установить <code>datatype</code>. То есть<code>TextArea</code> предназначен для работы только с текстом и
    строковыми атрибутами сущностей.</p>
<p><code>cols</code> и <code>rows</code> задают количество строк и столбцов текста. Значения <code>width</code> и <code>height</code>
    имеют приоритет над значениями <code>cols</code> и <code>rows</code>.</p>