<p><code>TextArea</code> is a multi-line text editor field.</p>
<p><code>TextArea</code> mostly replicates the functionality of the <code>TextField</code> component except that a
    <code>datatype</code> can not be assigned to it. I.e. <code>TextArea</code> is intended to be used for text and
    string attributes of entities only.</p>
<p><code>rows</code> set the number of rows of text. The values of <code>width</code>
    and <code>height</code> have priority over the value of <code>rows</code>.</p>