<p>Текстовая область - многострочное текстовое поле для редактирования текста.</p>
<p><code>TextArea</code> в основном повторяет функциональность <code>TextField</code>, за исключением того, что ему
    нельзя установить <code>datatype</code>. То есть<code>TextArea</code> предназначен для работы только с текстом и
    строковыми атрибутами сущностей.</p>
<p>Атрибут <code>rows</code> задает количество строк текста. Значения <code>width</code> и <code>height</code>
    имеют приоритет над значением <code>rows</code>.</p>