<p><code>CurrencyField</code> - component for representing and editing currency values. It consists of text input field
    and (optionally) currency label.</p>
<p>CurrencyField's label can be changed by the following methods:</p>
<ul>
    <li>
        <p><code>currency</code> - a text that will be a content of the currency label.</p>
    </li>
    <li>
        <p><code>showCurrencyLabel</code> - enables or disables currency label displaying. This option is enabled by
            default.</p>
    </li>
    <li>
        <p><code>currencyLabelPosition</code> - sets where the currency label should be. CurrencyLabel.RIGHT
            - default value.</p>
    </li>
</ul>