<p><code>CurrencyField</code> - компонент для просмотра и редактирования валютных значений. Он состоит из поля ввода
    текста и надписи и текстовой записи валюты. Данную запись можно настроить с помощью следующих методов:</p>
<ul>
    <li>
        <p><code>currency</code> - текстовое значение надписи.</p>
    </li>
    <li>
        <p><code>showCurrencyLabel</code> - отображать/не отображать данную надпись. По умолчанию надпись отображается.
        </p>
    </li>
    <li>
        <p><code>currencyLabelPosition</code> - устанавливает положение надписи (справа или слева).
            По умолчанию - справа.</p>
    </li>
</ul>
