<p>This example demonstrates how to create DataGrid with a variable set of columns.</p>
<p>It is based on key-value entities and containers:</p>
<ul>
    <li>Data is provided as a list of <code>KeyValueEntity</code> instances.</li>
    <li><code>KeyValueCollectionContainer</code> is created dynamically and configured using
        <code>addProperty()</code> methods to match properties of key-value entities.</li>
    <li><code>DataGrid</code> is created dynamically with columns matching the container properties.</li>
</ul>
<p>See <code>DataGridVariableColumnsSample.java</code> for details.</p>