<p>Данный пример показывает, как создать DataGrid с переменным набором колонок.</p>
<p>Он основан на key-value сущностях и контейнерах:</p>
<ul>
    <li>Данные предоставляются в виде списка экземпляров <code>KeyValueEntity</code>.</li>
    <li><code>KeyValueCollectionContainer</code> создается динамически и конфигурируется вызовами метода
        <code>addProperty()</code> чтобы соответствовать свойствам key-value сущностей.</li>
    <li><code>DataGrid</code> создается динамически с колонками, соответствующими свойствам контейнера.</li>
</ul>
<p>См. исходный код в <code>DataGridVariableColumnsSample.java</code></p>