<p>Атрибут <code>editable</code> позволяет перевести таблицу в режим in-place редактирования ячеек. В этом режиме в
    колонках, имеющих атрибут <code>editable = true</code>, отображаются компоненты для редактирования значений
    атрибутов сущности, находящейся в источнике данных.</p>

<p>Тип компонента для каждой редактируемой колонки выбирается автоматически на основании типа атрибута сущности.
    Например, для строковых и числовых атрибутов используется <code>TextField</code>,
    для <code>Date</code> - <code>DateField</code>, для перечислений - <code>ComboBox</code>,
    для ссылок на другие сущности - <code>EntityPicker</code>
    (или <code>ComboBox</code>, если для колонку указан также атрибут <code>optionsDataContainer</code>).
</p>

<p>Для редактируемой колонки типа <code>Date</code> можно дополнительно указать атрибуты <code>dateFormat</code> или
    <code>resolution</code> аналогично описанным для <code>DateField</code>.
</p>
