<p>Компонент <code>TokenList</code> представляет собой упрощенный вариант работы со списком сущностей: названия
    экземпляров располагаются в вертикальном или горизонтальном списке, добавление производится из выпадающего списка,
    удаление - с помощью кнопок, расположенных рядом с каждым экземпляром.</p>

<p>В данном примере определены два источника данных: вложенный источник данных <code>orderItemsDc</code>, содержащий
    коллекцию входящих в состав заказа строк, и <code>allItemsDc</code>, содержащий коллекцию всех строк заказа,
    имеющихся в базе данных. Компонент <code>TokenList</code> отображает содержимое источника данных <code>orderItemsDc</code>,
    а также позволяет изменять эту коллекцию, добавляя в него экземпляры из источника данных <code>allItemsDc</code>.</p>

<p>Элементы <code>tokenList</code>:</p>
<ul>
    <li><code>lookup</code> - описатель компонента выбора значений.</li>
    <li><code>button</code> - описатель кнопки добавления значений. Может содержать атрибуты <code>caption</code> и
        <code>icon</code>.
    </li>
    <li><code>clearButton</code> - описатель кнопки очистки значений. Может содержать атрибуты <code>caption</code> и
        <code>icon</code>.
    </li>
</ul>