<p>Точность представления даты и времени можно определить с помощью атрибута <code>resolution</code>. Значение
    атрибута должно соответствовать
    перечислению <code>DateField.Resolution</code> - <code>SEC</code>, <code>MIN</code>, <code>HOUR</code>, <code>DAY</code>,
    <code>MONTH</code>, <code>YEAR</code>. По умолчанию - <code>MIN</code>, то есть до минут.</p>
<p>Если <code>resolution="DAY"</code> и не указан атрибут <code>dateFormat</code>, то в
    качестве формата будет взят формат, указанный в главном пакете сообщений с ключом <code>dateFormat</code>.</p>
<p>Если <code>resolution="MIN"</code> и не указан атрибут <code>dateFormat</code>, то в
    качестве формата будет взят формат, указанный в главном пакете сообщений с ключом <code>dateTimeFormat</code>.
</p>