<p>У компонента <code>DataGrid</code> есть API, позволяющий напрямую редактировать записи в ячейках. Во время
    редактирования ячейки будет отображён UI с кнопками для сохранения и отмены изменений.</p>

<p>Attributes:</p>
<ul>
    <li>
        <p><code>editorEnabled</code> - определяет включен или нет втроенный редактор <code>DataGrid</code>. Если
            редактор включен, тогда пользователь может открыть его двойным кликом по строке или нажатием клавиши Enter
            на активной строке. Редактор может быть открыт программно методом <code>editItem(Object)</code>.</p>
    </li>
    <li>
        <p><code>editorBuffered</code> - отределяет включен ли режим буфферизации.</p>
    </li>
    <li>
        <p><code>editorSaveCaption</code> - задает заголовок кнопки save в редакторе <code>DataGrid</code>.</p>
    </li>
    <li>
        <p><code>editorCancelCaption</code> - задает заголовок кнопки cancel в редакторе <code>DataGrid</code>.</p>
    </li>
</ul>