<p>The <code>DataGrid</code> component has an API for inline editing of records in the cells. When an item is being
    edited, the inline edit UI with default <code>save</code> and <code>cancel</code> buttons is displayed.</p>

<p>Attributes:</p>
<ul>
    <li>
        <p><code>editorEnabled</code> - define whether or not the item editor UI is enabled for this
            <code>DataGrid</code>. When the editor is enabled, the user can open it by double-clicking a row or hitting
            enter when a row is focused. The editor can also be opened programmatically using
            the<code>editItem(Object)</code> method.</p>
    </li>
    <li>
        <p><code>editorBuffered</code> - define if the buffered editor mode is active.</p>
    </li>
    <li>
        <p><code>editorSaveCaption</code> - the caption on the save button in the <code>DataGrid</code> editor.</p>
    </li>
    <li>
        <p><code>editorCancelCaption</code> - the caption on the cancel button in the <code>DataGrid</code> editor.</p>
    </li>
</ul>