<p>Компонент <code>Table</code> реализует интерфейс <code>ActionsHolder</code> и может содержать как кастомные действия,
    так и стандартные, определенные в перечислении <code>ListActionType</code>.</p>

<p>Если действие имеет заголовок, оно отображается в контестном меню таблицы. Кроме того, действия таблицы могут быть
    назначены кнопкам, расположенным в любом месте экрана.</p>

<p>С помощью XML элемента <code>buttonsPanel</code> таблице можно добавить контейнер <code>ButtonsPanel</code>
    для отображения кнопок вверху таблицы.</p>