<p>The <code>Filter</code> component enables quick data filtering by arbitrary conditions, as well as creating
    configurations for repeated use. Configuration can be created in design-time (<code>DesignTimeConfiguration</code>)
    or in run-time (<code>RunTimeConfiguration</code>). Design-time configurations cannot be changed, but can be copied
    in run-time using the <code>Copy</code> action from the drop-down menu of filter settings.</p>

<p>In this example, the configuration was created in design-time in XML, made default using <code>default</code> XML
    attribute. So it appears right after opening the screen.</p>

<p>You can add conditions to this configuration by copying it, or reset it by selecting <b>Reset filter</b> in the
    drop-down menu next to the<b>Refresh</b> button and create a new configuration. New conditions can be saved for
    future use by clicking <b>Save</b>, <b>Save with values</b> or <b>Save as</b> in the settings drop-down menu on the
    right.</p>