<p>Компонент <code>Filter</code> позволяет производить быструю фильтрацию данных по произвольному набору условий, а
    также создавать конфигурации для многократного использования. Конфигурации могут быть созданы во время разработки
    (<code>DesignTimeConfiguration</code>) или во время работы приложения (<code>RunTimeConfiguration</code>).
    Конфигурации, созданые во время разработки являются неизменяемыми, но могут быть скопированы во время работы
    приложения с помощью действия <b>Копировать</b> из выпадающего меню настроек фильтра.</p>

<p>В данном примере конфигурация была создана во время разработки и установлена "по умолчанию" с помощью атрибута
    <code>default</code>. Поэтому конфигурация появляется сразу после открытия экрана.</p>

<p>Вы можете добавить условия в эту конфигурация, скопировав её, или сбросить её, выбрав <b>Сбросить фильтр</b> в
    выпадающем меню рядом с кнопкой <b>Обновить</b> и создать новую конфигурацию. Новые условия можно сохранить для
    последующего использования нажав <b>Сохранить</b>, <b>Сохранить со значениями</b> или <b>Сохранить как</b> в
    выпадающем меню настроек справа.</p>
