<p>Компонент <code>DataGrid</code> реализует интерфейс <code>ActionsHolder</code> и может содержать как кастомные
    действия, так и стандартные, определенные в перечислении <code>ListActionType</code>.</p>

<p>Если действие имеет заголовок, оно отображается в контестном меню DataGrid. Кроме того, действия DataGrid могут быть
    назначены кнопкам, расположенным в любом месте экрана.</p>

<p>С помощью XML элемента <code>buttonsPanel</code> в DataGrid можно добавить контейнер <code>ButtonsPanel</code>
    для отображения кнопок вверху DataGrid.</p>