<p>The <code>DataGrid</code> component implements <code>ActionsHolder</code> interface and can contain custom actions,
    as well as standard actions, defined in <code>ListActionType</code> enumeration.</p>

<p>If an action has a caption, it is displayed as an item of the DataGrid context menu. Additionally, DataGrid actions
    can be assigned to buttons located anywhere on the screen.</p>

<p>With the help of <code>buttonsPanel</code> optional XML element you can add a <code>ButtonsPanel</code>
    container to show action buttons above the DataGrid.</p>