.v-filterselect-item-premium-grade {
     background-color: red;
     color: white;
}

.v-filterselect-item-high-grade {
     background-color: green;
     color: white;
}

.v-filterselect-item-standard-grade {
     background-color: blue;
     color: white;
}
