<p>
    Компонент <code>upload</code> позволяет пользователям загружать один или несколько файлов. Он отображает прогресс загрузки и статус каждого файла. Файлы можно загружать, нажимая на кнопку <strong>Загрузить файлы</strong>, или перетаскивая их в область компонента.

</p>
<p>
    В данном примере можно загрузить до 3 файлов, каждый с максимальным размером 10 КБ. Имя загруженного файла будет отображаться под кнопкой компонента.
</p>
<p>
    В этом примере используется обработчик загрузки, хранящий данные в памяти (задаётся через <code>uploadHandlerType="IN_MEMORY"</code>). Он хранит содержимое каждого загруженного файла в памяти и передаёт его в виде массива <code>byte[]</code> через событие <code>UploadSucceededEvent</code>.
    Для загрузки и сохранения больших файлов рекомендуется использовать компонент <a href="/ui-samples/sample/file-storage-upload-field">FileStorageUploadField</a>.
</p>