<p>
    The <code>upload</code> component allows users to upload one or multiple files.
    It shows the upload progress and the status of each file. Files can be uploaded by clicking on the <strong>Upload files</strong> button or by dragging them onto the component zone.
</p>
<p>
    This example allows uploading up to 3 files with a maximum size of 10 KB each. The name of the uploaded file appears next to its corresponding uploaded file.
</p>
<p>
    This example uses the in-memory upload handler (configured via <code>uploadHandlerType="IN_MEMORY"</code>), which keeps the content of each uploaded file in memory and provides it as a <code>byte[]</code> through the <code>UploadSucceededEvent</code>.
    For uploading and saving large files, it is recommended to use the <a href="/ui-samples/sample/file-storage-upload-field">FileStorageUploadField</a>.
</p>