<p>
    The <code>Tabs</code> component has several theme variants:
</p>

<ul>
    <!-- theme-only:lumo -->
    <li>icon-on-top</li>
    <li>centered</li>
    <!-- theme-only:lumo:end -->
    <li>small</li>
    <!-- theme-only:lumo -->
    <li>minimal</li>
    <!-- theme-only:lumo:end -->
    <li>hide-scroll-buttons</li>
    <!-- theme-only:lumo -->
    <li>equal-width-tabs</li>
    <!-- theme-only:lumo:end -->
</ul>

<p>
    You can set these styles to the <code>Tabs</code> component using the <code>themeNames</code> attribute either
    in the XML descriptor or in the view controller using constants from <code>TabsVariant</code> class.
</p>