<p>
    <code>Tabs</code> имеет несколько предопределённых тем:
</p>

<ul>
    <!-- theme-only:lumo -->
    <li>icon-on-top</li>
    <li>centered</li>
    <!-- theme-only:lumo:end -->
    <li>small</li>
    <!-- theme-only:lumo -->
    <li>minimal</li>
    <!-- theme-only:lumo:end -->
    <li>hide-scroll-buttons</li>
    <!-- theme-only:lumo -->
    <li>equal-width-tabs</li>
    <!-- theme-only:lumo:end -->
</ul>

<p>
    Вы можете применить эти стили в XML-дескрипторе используя атрибут <code>themeNames</code> или в
    контроллере экрана используя константы из класса <code>TabsVariant</code>.
</p>