<p>In this example, the configuration was created in design-time in XML, made default using <code>default</code> XML
    attribute. So it appears right after opening the screen.</p>

<p>A user can create conditions based on JPQL expressions by selecting <b>Create JPQL condition</b> in the <b>Add search
    condition</b> dialog. JPQL conditions can also be defined in the screen XML (<code>jpqlFilter</code>).</p>

<p>In this example, the JPQL condition allows a user to filter orders by a product contained in
    order lines. You can see the condition properties in the advanced filter editor available via the <b>Edit</b>
    settings menu item.</p>

<p><code>hasInExpression</code> attribute defines whether JPQL expression contains <code>IN</code> expression. In the
    second configuration, the JPQL condition allows a user to filter orders by customer grades.</p>
