<p>В данном примере конфигурация была создана во время разработки и установлена "по умолчанию" с помощью атрибута
    <code>default</code>. Поэтому конфигурация появляется сразу после открытия экрана.</p>

<p>Пользователи могут создавать условия на основе выражений JPQL, выбрав пункт <b>Создать Jpql условие</b> диалога
    <b>Добавить условие поиска</b>. Jpql условия также могут быть определены в XML экрана (<code>jpqlFilter</code>).</p>

<p>В данном примере JPQL условие позволяет пользователю фильтровать заказы по продукту, содержащемуся в строке заказа.
    Свойства условия можно увидеть в расширенном редакторе фильтра, доступном через пункт<b>Редактировать</b> меню
    настроек фильтра.</p>

<p>Атрибут <code>hasInExpression</code> определяет содержит ли JPQL выражение условие <code>IN</code>. Во второй
    конфигурации JPQL условие позволяет пользователю фильтровать заказы по уровню пользователя.</p>