<p>В данном примере конфигурация была создана во время разработки и установлена "по умолчанию" с помощью атрибута
    <code>default</code>. Поэтому конфигурация появляется сразу после открытия экрана.</p>

<p>Вы можете легко производить фильтрацию по связанным сущностям и их атрибутам:
<ul>
    <li>выбрав атрибут сущности из группы <b>Атрибуты</b> диалога <b>Добавить условие поиска</b>.</li>
    <li>выбрав пункт <b>Создать Условие атрибута</b> диалога <b>Добавить условие поиска</b>.</li>
    <li>определив условие в XML (<code>propertyFilter</code>).</li>
</ul>
</p>

<p>В данном примере список заказов может быть отфильтрован по заказчикам и по уровням заказчиков.</p>