<p>In this example, the configuration was created in design-time in XML, made default using <code>default</code> XML
    attribute. So it appears right after opening the screen.</p>

<p>You can easily filter by related entities and their attributes by:
<ul>
    <li>selecting entity attribute from <b>Properties</b> group of <b>Add search condition</b> dialog.</li>
    <li>selecting <b>Create Property condition</b> in the <b>Add search condition</b> dialog.</li>
    <li>defining condition in the screen XML (<code>propertyFilter</code>).</li>
</ul>
</p>

<p>In this example, the list of orders is filtered by customers and by customer grades.</p>